* {
// font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(240, 247, 154);

background-image: url("../../../assets/image/black-wallpaper-2.jpg");
}

.inputfield {
    color:white
}


.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
  background:transparent;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: transparent;
  padding: 5px 20px 15px 20px;
  border: 1px solid #2d3436;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid rgb(240, 247, 154);
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
  background-color: transparent;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4d4855;
  background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
  color: rgb(240, 247, 154);
  padding: 12px;
  margin: 10px 0;
  border: 5px;
  border:solid;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 24px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.btn:hover {
  background-color: #dad740;
}

span.price {
  float: right;
  color: grey;
}

.total {
	font-size: 24px;
	color:white
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}