* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.general {
  background-image: url("../../../assets/image/black-wallpaper-2.jpg");
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  font-family: Montserrat;
  background: black;
  width: 500px;
  padding: 2px;
  justify-content: center;
  //height: 100vh;
}

.outer {
  position: relative;
  background-color: #4d4855;
  background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);

  height: 290px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  width: 970px;
  padding: 2px;
  justify-content: center;
}

img {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 0;
  animation-delay: 0.5s;
}

.content {
  animation-delay: 0.3s;
  position: absolute;
  left: 20px;
  z-index: 3;
}

.stock {
  color: #111;
  line-height: 1.2;
  color: white;
  font-size: 12px;
}

h1 {
  line-height: 1.2;
  color: rgb(240, 247, 154);
  margin: 24px 0;
  width: 250px;
  font-size: 24px;
}

h5 {
  color: #111;
  line-height: 1.4;
  color: white;
  margin: 20px 0;
  width: 280px;
  font-size: 14px;
}

p {
  width: 280px;
  font-size: 11px;
  line-height: 1.2;
  color: rgb(240, 247, 154);
  margin: 20px 0;
}

.bg {
  display: inline-block;
  color: #fff;
  background: cornflowerblue;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 0.7em;
}

.button {
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
  background-color: transparent;

  outline: 0;
  border: 0;
}

.button span {
  display: inline-block;
  overflow: hidden;
  position: relative;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #aaa;
  font-weight: bold;
}

.button span:after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 0%;
  background: rgb(227, 238, 128);
  height: 100%;
  z-index: -1;
  transition: width 0.3s ease-in-out;
  transform: skew(-25deg);
  transform-origin: right;
}

.button span:hover:after {
  width: 150%;
  left: -10px;
  transform-origin: left;
}

.button span:hover {
  color: black;
  transition: all 0.5s ease;
}

.button span:nth-of-type(1) {
  border-radius: 50px 0 0 50px;
  border-right: none;
}

.button span:nth-of-type(2) {
  border-radius: 0px 50px 50px 0;
}

.cart-icon {
  padding-right: 8px;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
}
.buttonBasket {
  width: 1110px;
  height: 40px;
  text-align: center;
  padding-right: 100px;
}

.game-picture {
  width: 230px;
  height: auto;
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 1100px) {
  .input-group {
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    padding: 2px;
    justify-content: center;
  }


     h1 {
   
    margin: 20px 0;
    width: 165px;
    font-size: 21px;
  }

}

@media screen and (max-width: 1000px) {
  .input-group {
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    padding: 2px;
    justify-content: center;
  }

   h1 {
   
    margin: 20px 0;
    width: 165px;
    font-size: 21px;
  }
}

@media screen and (max-width: 600px) {
  .game-picture {
    height: auto;
    width: 170px;
  }

    .container {
    margin-top: 0px;
  }


  .input-group {
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    padding: 2px;
    justify-content: center;
  }

  h1 {
   
    margin: 20px 0;
    width: 160px;
    font-size: 21px;
  }

  h5 {
    font-size: 9px;
  }

  p {
    font-size: 9px;
  }

  .button {
    width: fit-content;
    height: fit-content;
    margin-top: 5px;
    background-color: transparent;

    outline: 0;
    border: 0;
  }

  .button span {
    display: inline-block;
    overflow: hidden;
    position: relative;
    font-size: 7.5px;
    color: #fff;
    text-decoration: none;
    padding: 10px 5px;
    border: 1px solid #aaa;
    font-weight: bold;
  }

  .stock {
    color: #111;
    line-height: 1.2;
    color: white;
    font-size: 7px;
  }
}

@media screen and (max-width: 570px) {
  .input-group {
    display: flex;
    flex-wrap: wrap;
    width: 380px;
    padding: 2px;
    justify-content: center;
  }

   .container {
    margin-top: 0px;
  }
}

@media screen and (max-width: 490px) {
  .input-group {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    padding: 2px;
    justify-content: center;
  }

  .container {
    margin-top: 0px;
  }

   h1 {
    width: 120px;
    font-size: 14px;
    break-inside: to-upper-case($string: "");
   
  }
}

@media screen and (max-width: 460px) {
  .input-group {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    padding: 2px;
    justify-content: center;
  }

   .container {
    margin-top: 0px;
  }
}


@media screen and (max-width: 380px) {
  .input-group {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    padding: 2px;
    justify-content: center;
  }
}

@media screen and (max-width: 360px) {
  .input-group {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    padding: 2px;
    justify-content: center;
  }

  .game-picture {
    height: auto;
    width: 120px;
    margin-top: 50px;
  }

  h1 {
    width: 120px;
    font-size: 14px;
    break-inside: to-upper-case($string: "");
    display: inline-block;
  }

  span {
    font-size: 5px;
    break-inside: to-upper-case($string: "");
    display: inline-block;
  }
}

@media screen and (max-width: 340px) {
  .input-group {
    display: flex;
    flex-wrap: wrap;
    width: 290px;
    padding: 2px;
    justify-content: center;
  }

  .game-picture {
    height: auto;
    width: 120px;
    margin-top: 50px;
  }

  h1 {
    line-height: 1.2;
    color: rgb(240, 247, 154);
    margin: 16px 0;
    width: 120px;
    font-size: 14px;
    break-inside: to-upper-case($string: "");
    display: inline-block;
  }

  span {
    font-size: 5px;
    break-inside: to-upper-case($string: "");
    display: inline-block;
  }
}

@media screen and (max-width: 260px) {
  .input-group {
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    padding: 2px;
    justify-content: center;
  }
}
