<app-header></app-header>
<div class="general">
<!-- <img src="https://i.ibb.co/hR80LwW/AD-logo.jpg" alt="AD-logo" height="500" width="500"> -->
<div class="container">
    <div class="row">
      <!-- Butt search<input type="text" [(ngModel)]="searchValue" placeholder="type game.." id="search"> -->
      <div class="container">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search for game..."
            [(ngModel)]="searchValue"
          />
          <span class="input-group-btn">
            <!-- <button class="btn btn-search" type="button"><i class="fa fa-search fa-fw"></i> Search</button> -->
          </span>
          <br />
        </div>
        <!-- <div>
          <nav>
            <button type="button" class="btn btn-dark buttonBasket" routerLink="/basket-list">Go to basket</button>
          </nav>
        </div> -->
      </div>

      <div class="wrapper" *ngFor="let game of games | searchfilter: searchValue">
        <div class="outer">
          <div class="content animated fadeInLeft">
            <a [routerLink]="['/game', game.itemCode]">
              <span class="bg animated fadeInDown">Learn more...</span>
            </a>
            <h1>{{ game.gameName }}</h1>
            <h5>{{ game.gameGenre }}</h5>
            <p>Release date: {{ game.releaseDate }}</p>
            <!-- <p>{{ game.shortDescription }}</p> -->

            <button class="button" (click)="addToBasket(game)">
              <span>{{ game.cost | currency: "EUR" }}</span
              ><span class="cart-btn"
                ><i class="cart-icon ion-bag"></i>ADD TO CART</span
              >
            </button>

            <div>
              <a class="stock">{{ game.stockQuantity }} pcs | in Stock</a>
            </div>
          </div>
          <img src="{{ game.image }}" class="game-picture" />
        </div>
      </div>
    </div>
</div>

</div>
