<div>
  <div>
    <table class="container">

      <div class="container">
        <div class="row">
          <table class="table table-dark" style="background-color: #4d4855;
      background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%)">
            <thead>
              <tr class="titles">
                <th>Item code</th>
                <th>Image</th>
                <th>Game name</th>
                <th>Game genre</th>
                <th>Release date</th>
                <th>Quantity</th>
                <th>Cost</th>
              </tr>
            </thead>
            <tbody>
              <!-- added basket variable , linked basket table with connection to basket.ts file -->
              <tr *ngFor="let basket of baskets ">
                <td>{{ basket.itemCode }}</td>
                <td><img src={{basket.image}} height="60" width="50" class="animated fadeInRight"></td>
                <td>{{ basket.gameName }}</td>
                <td>{{ basket.gameGenre }}</td>
                <td>{{ basket.releaseDate }}</td>
                <td>{{ basket.quantity }}</td>
                <td>{{ basket.cost }}</td>
                <td><button stlye="background-color:red" type="button" class="close" arial-label="remove"
                    (click)="removeBasket(basket)">
                    <span aria-hidden="true">&times;</span>
                  </button></td>
              </tr>
            </tbody>
          </table>

          <button class="button">
            <span> {{ totalPrice | currency: "EUR" }} </span><span routerLink="/checkout" class="cart-btn"><i class="cart-icon ion-bag"></i>CHECKOUT</span>
          </button>

        </div>
      </div>