* {
	box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(240, 247, 154);
}


* {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.cointainer {
    position: relative;
	background-color: #4d4855;
	background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
	display: flex;
	align-items: center;
}

.titles {
    color: white;
}


.button {
	width: fit-content;
	height: fit-content;
	margin-top: 10px;
	background-color: transparent;

	outline: 0;
	border: 0;
	
}

.button span {
	display: inline-block;
	overflow: hidden;
	position: relative;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;
	border: 1px solid #aaa;
	font-weight: bold;
	
	
}

.button span:after{
	content: "";
	position: absolute;
	top: 0;
	right: -10px;
	width: 0%;
	background: rgb(227, 238, 128);
	height: 100%;
	z-index: -1;
	transition: width 0.3s ease-in-out;
	transform: skew(-25deg);
	transform-origin: right;
}

.button span:hover:after {
	width: 150%;
	left: -10px;
	transform-origin: left;
	
}

.button span:hover {
	color: black;
	transition: all 0.5s ease;
}


.button span:nth-of-type(1) {
	border-radius: 50px 0 0 50px;
	border-right: none;
}

.button span:nth-of-type(2) {
	border-radius: 0px 50px 50px 0;
}

.cart-icon {
	padding-right: 8px;
	
}

.footer {
	position: absolute;
	bottom: 0;
	right: 0;
}
.buttonBasket{
	width: 1110px;
	height: 40px;
	text-align: center;
	padding-right: 100px;
}
