<section class="home">  
    <div class="home___video">
    <video  [muted]="'muted'" src="../../../assets/video/TOP_NEW_VIDEO_GAME_CINEMATIC_TRAILERS_2020_2021_(4K).mp4" autoplay loop ></video>
</div>

