*{
    background-image: url("../../../assets/image/black-wallpaper-2.jpg");
}


.home{
    width: 100%;
    max-height: 70vh;
    /* background: url(/image/world-of-warcraft-wow-lich.jpg) center/cover no-repeat; */
    overflow: hidden;
    position:relative;
}
/* Тут мы редактируем видео ну или маска */
.home::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position:absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.home__vidio{
    padding-bottom: 56.25%;
}
/*Чтобы перекрыть маску*/
 .home video{
   position:relative;
   width: 100%;
   height: auto;
   left: 0;
    top: -120px;
} 
/*Чтобы был виден текст */
 .home__content{
    width: 100%;
    height: 100%;
    position: absolute;
    top : 0;
    left : 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    z-index: 3;
    font-family: sans-serif;
} 
 .home__content h1{
    font-size: 5vw;
    margin: 0 0 15px;
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
} 
 .home__content p{
    text-align: center;
    font-size: 2vw;
} 
.butt1{
    position: fixed;
}


@media screen and (max-width: 900px) {
    .home{
        margin-top: 70px;
    }
    .home___video {
        margin-top: 70px;
    }
}


@media screen and (max-width: 400px) {
    .home{
        margin-top: 30px;
    }
    .home___video {
        margin-top: 30px;
    }
}