<footer class="bg-dark text-center text-white" style="background-color: #4d4855;
background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%)">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->


  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #4d4855;
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%)">

    <a class="text-white" href="https://ad-games-shop.netlify.app/">© 2021 Copyright : A&D Game Shop</a>
  </div>
  <!-- Copyright -->
</footer>