#logo {
    height:60px;
    width: 70px;
    float: right;
    margin-left: 3px;
    margin-top: 1px;
    padding-bottom: 10px;
    position: relative;

}


@media screen and (max-width: 500px) {
    footer {
       width: 80%;
    }

    a {
        width: 80%;
     }
  }
  
  
  @media screen and (max-width: 950px) {
    footer {
      -ms-flex: 50%;
      flex: 50%;
      height: 10em;
    }

    a {
        -ms-flex: 50%;
        flex: 50%;
        width: 10px;
      }
  
  
    
  }
  
  
  @media screen and (max-width: 500px) {
    footer {
      -ms-flex: 50%;
      flex: 50%;
      height: 10em;
    }

    a {
        -ms-flex: 50%;
        flex: 50%;
        width: 10px;
      }
  

    
  }
  
  
  @media screen and (max-width: 400px) {
    footer {
      -ms-flex: 50%;
      flex: 50%;
      height: 10em;
    }

    a {
        -ms-flex: 50%;
        flex: 50%;
        width: 10px;
        font-size: 10px;
      }
 
}
