<div class="container-navbar">
  <nav class="navbar">
    <a href="https://ad-games-shop.netlify.app/"><img src="https://i.ibb.co/hR80LwW/AD-logo.jpg" class="logo" id="logo" alt="AD-logo" height="100" width="100">
      <div class="neon">
        <span class="text" data-text="Let's play"> Let's play</span>
        <span class="gradient"></span>
        <span class="spotlight"></span>
      </div>
    
    </a>
    
    <ul>
      <li><a routerLink="/basket-list"><a id="htmltxt"><img src="../assets/image/shopping_cart.png" class="basket-picture"> Shopping cart</a></a></li>
      <li><a routerLink="/contacts">Contact</a></li>
      <li><a routerLink="/games-list">Main Page</a></li>
      <!-- <li>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for game..." [(ngModel)]="searchValue">
          <span class="input-group-btn">
         
          </span>
          <br>
  
        </div>
      </li> -->
     
      <!-- <li>
    
        <div class="text-box">
          <h1>A&D Game Shop</h1>
          <h1>A&D Game Shop</h1>
        </div>
          
    </li> -->
    </ul>
  </nav>
</div>





<!-- 
<div class="navbar">
  <div id="navbar-brand">
  <a href="https://ad-games-shop.netlify.app/"><img src="https://i.ibb.co/hR80LwW/AD-logo.jpg" id="logo" alt="AD-logo" height="100" width="100"></a>

  </div>
 

  <div class="container">
    
      <div class="text-box">
        <h1>A&D Game Shop</h1>
        <h1>A&D Game Shop</h1>
      </div>
        
  </div>



  <div>
      <button id="home" routerLink="/games-list"><a id="htmltxt">Home</a></button>


      
      <button id="css"><span id="htmltxt">Contacts</span></button>

      <button id="css" routerLink="/basket-list"><a id="htmltxt"><img src="https://www.flaticon.com/svg/vstatic/svg/891/891581.svg?token=exp=1620476612~hmac=076af2c5a0c1a313f74fbd7a65356058"> Go to Basket</a></button>

      
  </div>


</div>
-->

<br><br>
<div id="container">
  <h1></h1>
</div>