* {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(240, 247, 154);
}

.container-navbar {
  background-image: url("../../../assets/image/black-wallpaper-2.jpg");
}

.navbar {
  
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  height: 100px;
  position: fixed;
  top : 0;
  z-index: 999;
}


.navbar-logo {
  float: left;
  padding-bottom: 20px;
}

.navicon {
width: 30px;
height: auto;
color:black
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 15px;
  color: black;
  float: right;  
  font-weight: bold;
}

li:hover {
box-shadow: 0 12px 16px 0 rgba(240, 247, 154,0.89), 0 17px 50px 0 rgba(0,0,0,0.19);
transition-duration: 0.5s;

}


.logo {
  height:auto;
  width: 100px;
  float: left;
  margin-left: 3px;
  margin-top: -7px;
  position: relative;
}

img {
  height:auto;
  width: 30px;
  
}



 *,
 *:after,
 *:before {
 	box-sizing: border-box;
 }

 body {
 	font-family: "Inter", sans-serif;
 	background-color: #FFF;
 }

 .text-box {
 	position: relative;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 }

 h1 {
 	font-size: 2vw;
 	font-weight: 1000;
 	background-color: #000;
 	color:  rgb(240, 247, 154);
 	display: block;
 	padding: .4em;
 }

 h1:nth-child(2) {
 	position: absolute;
 	background-color:  rgb(240, 247, 154);
 	color: #000;
 	clip-path: inset(-1% -1% 50% -1%); // Added the negative values to prevent icky "bleed" in Chrome
 }

 p {
 	font-size: 1vw;
 	font-weight: 900;
 	margin-top: 0,5em;
 	text-align: center;
 	span {
 		display: block;
 		transform: rotate(90deg);
 		margin-top: .25em;
 	}
 }

// // Codepen spesific styling - only to center the elements in the pen preview and viewport
 .container {
 	position: absolute;
 	top: 0;
 	left: 0;
	right: 0;
 	bottom: 0;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
 	flex-direction: column;
 }



 @media screen and (max-width: 500px) {
  .navbar {
     width: 80%;
     height:auto;
  }
}


@media screen and (max-width: 950px) {
  .navbar {
    -ms-flex: 50%;
    flex: 50%;
    height: 8em;
  }


  
}


@media screen and (max-width: 500px) {
  .navbar {
    -ms-flex: 50%;
    flex: 50%;
    height: 8em;
  }

  .logo {
    height:auto;
    width: 80px;
    margin-left: 10px;
    margin-top: -7px;
    position: left;
  }

  li {
    display:inline;
    padding: 8px;
    color: black;
    float: right;  
    font-weight: bold;
    font-size: 12px;
  }

   .basket-picture {
    width: 15px;
    height:auto;
  }

  .logo {
    height:auto;
    width: 0px;
    margin-left: 10px;
    margin-top: -7px;
    position: left;
  }

  .neon {
  width: 0px;
  height: auto;
}
  
  
}


@media screen and (max-width: 400px) {
  .navbar {
    -ms-flex: 50%;
    flex: 50%;
    height: 5em;
  }

  .logo {
    height:auto;
    width: 0px;
    margin-left: 10px;
    margin-top: -7px;
    position: left;
  }

  li {
    display:table-row-group;
    padding: 8px;
    color: black;
    float: right;  
    font-weight: bold;
    font-size: 10px;
  }

  .basket-picture {
    width: 15px;
    height:auto;
  }


  .neon {
  width: 0px;
  height: auto;
}
  
}

////neon

body {
  margin: 0;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.neon {
  position: relative;
  overflow: hidden;
  filter: brightness(200%);
}

.text {
  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  position: relative;
  user-select: none;
}

.text::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  filter: blur(0.02em);
  mix-blend-mode: difference;
}

.gradient {
  position: absolute;
  background: linear-gradient(45deg, red, gold, lightgreen, gold, red);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
}

.spotlight {
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  background: 
      radial-gradient(
          circle,
          white,
          transparent 25%
      ) center / 25% 25%,
      radial-gradient(
          circle,
          white,
          black 25%
      ) center / 12.5% 12.5%;
  animation: light 5s linear infinite;
  mix-blend-mode: color-dodge;
}

@keyframes light {
  to {
      transform: translate(50%, 50%);
  }
}













// .navbar{
//     border: 3px solid black;
//     width: 100%;
//     height: 100px;
//     position: fixed;
//     background-color:black;
//     top : 0;
//     z-index: 999;
//   }
//   #navbar-brand{
//      border: 2px solid rgb(12, 10, 10);
//     background-color: black;
//     width: 60px;
//     height: 40px;
//   }
//   img {
//     height:50px;
//     width: 50px;
//     float: left;
//     margin-left: 3px;
//     margin-top: -7px;
//     position: relative;
//   }

//   #logo {
//       height:105px;
//       width: 120px;
//       float: left;
//       margin-left: 3px;
//       margin-top: 1px;
//       padding-bottom: 15px;
//       position: absolute;
//       top: 5px;
//       left: 5px;

//   }

//   #home{
//     border:2px black;
//     background-color:black;
//     width: 150px;
//     height: 42px;
//     float: left;
//     margin-top: -41.5px;
//     margin-left: 14px;
//     padding: auto;
    
//   }
  
//   #css {
//     border:2px black;
//     background-color:black;
//     width: 150px;
//     height: 42px;
//     float: left;
//     margin-top: -41.5px;
//     margin-left: 1px;
//   }
//   #JS{
//     border:2px black;
//     background-color:black;
//     width: 150px;
//     height: 42px;
//     float: left;
//     margin-top: -41.5px;
//     margin-left: 1px;}
//   #login{
//     height: 35px;
//     float: right;
//     position: relative;
//     margin-top: -38px;
//     padding-right: 15px;
  
//   }
  
//   #htmltxt{
//     color: rgb(240, 247, 154);
//     font-weight: bold;
//     font-size: 16px;
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//   }
//   #htmltxt:hover{
//     color: #f06a00;
//     font-weight: bold;
//     font-size: 16px;
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//   }
//   #htmltxt:active{
//     color: red;
//     font-weight: bold;
//     font-size: 16px;
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//   }


//   *,
// *:after,
// *:before {
// 	box-sizing: border-box;
// }

// body {
// 	font-family: "Inter", sans-serif;
// 	background-color: #FFF;
// }

// .text-box {
// 	position: relative;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// }

// h1 {
// 	font-size: 2vw;
// 	font-weight: 1000;
// 	background-color: #000;
// 	color:  rgb(240, 247, 154);
// 	display: block;
// 	padding: .4em;
// }

// h1:nth-child(2) {
// 	position: absolute;
// 	background-color:  rgb(240, 247, 154);
// 	color: #000;
// 	clip-path: inset(-1% -1% 50% -1%); // Added the negative values to prevent icky "bleed" in Chrome
// }

// p {
// 	font-size: 1vw;
// 	font-weight: 900;
// 	margin-top: 1em;
// 	text-align: center;
// 	span {
// 		display: block;
// 		transform: rotate(90deg);
// 		margin-top: .25em;
// 	}
// }

// // Codepen spesific styling - only to center the elements in the pen preview and viewport
// .container {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	width: 30%;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	flex-direction: column;
// }
