<div *ngIf="game" class="main">
    <div class="splitscreen">
        <div class="content1">
            <h3>{{ game.gameName }}</h3>
            <p class="minor">{{ game.gameGenre }}</p>
            <p class="minor">{{ game.releaseDate }}</p>

        </div>

        <div class="content1">
            <div>
                <youtube-player videoId={{game.video}} suggestedQuality="highres" [height]="250" [width]="500" [startSeconds]="4"
                    [endSeconds]="8">
                </youtube-player>
            </div>
        </div>

         <div class="content2">
                    <img src={{game.image}} height="290" width="230" class="animated fadeInRight">
        </div>
    
    </div>


    <div class="splitscreen">
        <div class="content2">
            <p>{{ game.shortDescription }}</p>
        </div>

</div>