
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("../../../assets/image/black-wallpaper.jpg");

}

.splitscreen {
  display: flex;
  height: auto;
}

.content2 {
  margin-right:10px
}

.content1 {
  margin-right:10px;
  margin-left:10px;
}

h3 {
  color: rgb(240, 247, 154);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 35px;
}

p {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  color: rgb(240, 247, 154);
}

.minor {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 12px;
  color: white;
}

.main {
  margin-left:5px;
}

@media screen and (max-width: 950px) {
  .main {
    margin-top: 100px;
  }
}